body{
	position: absolute;
	top:0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Consolas,monospace;
	font-weight:lighter;
    text-align: left;
    min-height: 100%;
    z-index: 1;
}

a{
	color:black;
	text-decoration: none;
}

div#header{
	position: relative;
	margin:0;
	left:8%;
	top:5%;
}


div#content{
	position: relative;
	top:12%;
	left:8%;
}


span{
	float:left;
}


span.modalhandle{
	text-decoration: none;
	cursor: pointer;
    transition: all 0.5s;
    }

div#modalcontainer{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: rgba(255, 255, 255, 0.8);
}

div.modalcontent{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	top: 0;
	overflow-x: hidden;
	margin: 0;
	padding-top: 5.5em;
}

div.modalcontent.active{
	display: block;
}
div.modalcontent figure {
	width: 100%;
	height: auto;
	position:relative;
	z-index: 3;
	overflow: hidden;
	margin-left: 0;
	text-align: center;
	padding-top: 3.8em;

}

p{
	font-size: 12px;
	padding-bottom: 2em;	
}

img{
	width:200px;
	height:auto;
	padding-right: 5em;
	max-width: 100%;

}

iframe{
	width:560px;
	height:315px;
	position: relative;
	margin:0;
	padding:0;
}


@media only screen and (max-width: 529px) {

	iframe{
		width:400px;
		height:250px;
		position: relative;
		margin:0;
		padding:0;
	}
	
	div#header{
		position: relative;
		margin:0;
		top:5%;
		left:20%;
	}

	div#content{
		position: relative;
		top:10%;
		left:20%;
	}



}